* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f2d3a1;
    font-size: 1em;
}

.header {
    background-color: #8b5220;
    padding: 1em 2em .4em 2em;
}

.title {
    color: #e5ccac;
    text-shadow: black 1px 1px 2px;
}

.nav-menu {
    display: flex;
    margin-left: .2rem;
}

.nav-btn {
    font-size: 1em;
    font-weight: 700;
    padding: .4em;
    border: none;
}

.nav-btn:hover {
    cursor: pointer;
}

.active {
    background-color: #f2c480;
}

.content-box {
    background-color: #f2c480;
    padding: 1em 2em;
    text-align: justify;
}

.content-title {
    color: #8b5220;
    border-bottom: .1em dashed #8b5220;
    margin-bottom: 1rem;
}

.content-description {
    margin: 1rem
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em 1.3rem;
}

.product-price {
    font-weight: 600;
    font-style: italic;
}

@media (min-width: 600px) {
    body {
        font-size: 1.4em;
    }
    .content-box {
        margin: 0 15vw;
    }
    .nav-menu {
        gap: 2.7rem;
    }
    .content-box {
        text-align: left;
    }
}